$background: #282C34;
$background-dark: #21252B;
$foreground: #ABB2BF;
$foreground-light: #C9D1E0;

$white: #ffffff;
$black: #000000;

$red: #E06C75;
$green: #98C379;
$yellow: #E5C07B;
$blue: #61AFEF;
$pink: #C678DD;
$teal: #56B6C2;
