@import "theme/onedark.scss";

* {
  all: unset;
  background: transparent;
  transition: color 0.1s, background 0.1s;
}

button {
    padding: 0px 5px;
    border-radius: 10px;
}

button:hover {
    background: $background-dark;
}
.pad {
    padding: 10px 0px;
}
scale {
}
.vslider trough {
    background-color: $background;
    min-height: 80px;
    min-width: 65px;
    border-radius: 10px;
}
.hslider trough {
    background-color: $background;
    min-height: 64px;
    border-radius: 10px;
}
.vslider trough highlight {
    border-radius: 10px;
}
.hslider trough highlight {
    border-radius: 10px;
}
.vslider.blue trough highlight, .hslider.blue trough highlight {
    background: $blue;
}

.vslider.teal trough highlight, .hslider.teal trough highlight {
    background: $teal;
}
.vslider.gray trough highlight, .hslider.gray trough highlight {
    background: $foreground;
}
.vslider.blue, .hslider.blue {
    background: none;
}
.vslider.teal, .hslider.teal {
    background: none;
}
.vslider.gray, .hslider.gray {
    background: none;
}

.disabled {
    opacity: 0.2;
}

.h1 {
    font-size: 32px;
    margin-top: 20px;
}

.i {
    font-style: italic; 
    color: $foreground;
    margin-top: 10px;
}

.bkelement {
    background-color: $background;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 3px 10px;
}

.element {
    background-color: $background-dark;
    margin: 10px 0px;
    padding: 10px 20px;
    border-radius: 10px;
}
.widget-backdrop {
    border-radius: 10px;
}

.menu-widget button:hover {
    background: none;
    opacity: 0.75;
}

.menu-widget>box {
    margin: 10px 0px;
    padding: 3px 10px;
}

.menu-widget-short>box {
    margin: 5px 0px;
    padding: 3px 10px;
}


.black-text {
    color: #000000;
}
.blue {
    background-color: $blue;
}
.green {
    background-color: $green;
}
.yellow {
    background-color: $yellow;
}
.red {
    background-color: $red;
}
.teal {
    background-color: $teal;
}
.red-text {
    color: $red;
}
.teal-text {
    color: $teal;
}
.green-text {
    color: $green;
}
.gray {
    background-color: $foreground;
}
.dark {
    background-color: $background;
}
.border {
    border: 2px solid $foreground;
}

.transparent {
    opacity: 0.7;
}

.workspaces {
    background: transparent;
}

.workspaces>button {
    margin: 0px 2px;
    font-size: 24px;
    background: transparent;
    color: $foreground;
}

.workspaces>button:hover {
    color: $red;
}

.workspaces>button.active {
    color: $blue;
}

.seperator {
    margin: 0px 10px;
    opacity: 0.3;
    background: #ffffff;
}

.weather>label {
    font-size: 100px;
    color: $background;
}

.weather-location {
    font-size: 32px;
    margin: 5px;
}

.weather-stats {
    margin: 10px 5px;
    margin-bottom: 0px;
}
.weather-temp {
    padding: 0px;
    margin: 0px;
    font-size: 48px;
}
.weather-percip {
    font-size: 40px;
}

.shortcut image {
   margin: 5px; 
}

.shortcut label {
    margin: 5px;
    padding: 0px;
    background: $red;
}

.time-hour {
    font-size: 64px;
    padding: 0px;
    margin: 0px;
}

.time-min {
    font-size: 24px;
    padding: 0px;
    margin: 4px;
}

.power {
    margin-top: 20px;
    margin-bottom: 10px;
}
.power button {
    font-size: 32px;
}
.power button:hover {
    color: $foreground;
}

.icon {
    font-size: 20px;
}

.logo {
    font-size: 40px;
}

.gh-name {
    margin: 10px;
    margin-bottom: 0px;
    font-size: 18px;
}

.gh-item {
    margin: 10px;
    margin-top: 0px;
}

.albumart {
    background-color: $background;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.musictitle {
    font-size: 20px;
    margin: 3px;
}

.musicinfo {
    font-size: 12px;
}

.musiccontrols label {
    font-size: 24px;
}

.musiccontrols>*:hover {
    opacity: 0.75;
}
